version: '2'

services:
  zombie:
    image: mallar/mqtt-zombie
    container_name: mqtt-zombie
    restart: always
    volumes:
      - ./appsettings.json:/app/appsettings.json
    depends_on:
      - rabbitmq

  rabbitmq:
    build:
      context: .
      dockerfile: Dockerfile
    # volumes:
    #   - ./rabbitmqdata/:/var/lib/rabbitmq/mnesia/
    restart: always
    healthcheck:
      test: ["CMD","rabbitmq-diagnostics","ping","-q"]
      interval: 5s
      timeout: 2s
      retries: 15
    ports:
      - 1883:1883 # mqtt
      - 15672:15672 # ui

  seq:
    image: datalust/seq:latest
    restart: always
    environment:
      - ACCEPT_EULA=Y
    # volumes:
    #   - ./seqdata/:/data
    ports:
      - 5341:5341
      - 8000:80